/* COLORS */
$darkred: #522A27;
$redorange: #C73E1D;
$whiteblue: #F0F7E4;
$blue: #0C489A;


* {
    margin: 0;
    scrollbar-width: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

.btn-primary {
    background-color: $blue;
}

nav {
    transition: background-color 0.25s ease;
    .navbar-brand {
        color: #fff;
    }
    .hamburger-toggler {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        position: relative;
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
    .hamburger-toggler-icon,
    .hamburger-toggler-icon::before,
    .hamburger-toggler-icon::after {
        position: absolute;
        width: 35px;
        height: 2px;
        border-radius: 4px;
        background-color: #fff;
    }
    .hamburger-toggler-icon {
        top: calc(50% - 7.5px);
        left: calc(50% - 22px);
        transition: all 0.3s linear;
    }
    .hamburger-toggler-icon::before,
    .hamburger-toggler-icon::after {
        content: "";
        left: 0;
    }
    .hamburger-toggler-icon::before {
        bottom: 8px;
        transition: all 0.3s linear;
    }
    .hamburger-toggler-icon::after {
        top: 8px;
        transition: all 0.3s linear;
    }
    .toggled.hamburger-toggler .hamburger-toggler-icon {
        height: 2px;
        width: 40px;
        left: 5px;
        top: calc(50% - 7.5px);
        transform: rotate(-45deg);
        background-color: #fff;   
    }
    .toggled.hamburger-toggler .hamburger-toggler-icon:after {
        width: 40px;
        height: 2px;
        top: -1px;
        transform: rotate(-270deg);
        background-color: #fff;
    }
    .toggled.hamburger-toggler .hamburger-toggler-icon::before {
        transform: translateX(-100px);
        opacity: 0;
        transform: rotate(0);
    }
    .navbar-brand {
        position: relative;
        top: 1px;
        left: 30px;
    }
    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 5px 20px;
        padding-top: 7px;
    }
    #translate {
        position: relative;
        top: 2.5px;
        a {
            color: white;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: 0.25em;
            transition: 0.5s;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                top: 100%;
                left: 0;
                background: #fff;
                transition: transform 0.5s;
                transform: scaleX(0);
                transform-origin: right;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin:left;
            }
        }
    }
    .nav-item {
        a {
            color: #fff;
            transition: 0.5s;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                top: 100%;
                left: 0;
                background: #fff;
                transition: transform 0.5s;
                transform: scaleX(0);
                transform-origin: right;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin:left;
            }
        }
    }
    #navbar-collapse {
        background-color: $blue;
        ul {
            padding: 5px 100px;
            .nav-item {
                padding: 5px;
            }
        }
    }
}

.scrolled {
    background-color: $blue;
}

.toggled {
    background-color: $blue;
}

#Landing-Page {
    min-height: 680px;
    max-height: 100vh;
    width: 100%;
    padding: 75px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/hardware-pexels-athena.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    h1 {
        font-size: 96px;
    }
    a {
        width: 200px;
        margin: 0 auto;
    }
}

#CRC-Robotics-Competition {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
    margin-left: 0px;
    margin-right: 0px;
    .col-5 {
        margin: auto;
    }
    .col-6 {
        display: flex;
        align-items: center;
        margin: auto;
    }
    img {
        display: block;
        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto;
    }
}

#Game-Description {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
}

#About-Us {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
    margin-left: 0px;
    margin-right: 0px;
    .col-5 {
        margin: auto;
    }
    .col-6 {
        display: flex;
        align-items: center;
        margin: auto;
    }
    img {
        display: block;
        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto;
    }
}

#Team-Roster {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
    h2 {
        text-align: center;
    }
    .profile {
        img {
            display: block;
            max-width: 200px;
            max-height: 200px;
            width: auto;
            height: auto;
            border-radius: 1rem;
            margin: 25px 25px 25px 0;
        }
        h5 {
            font-weight: bold;
        }
    }
}

#CRC-Season {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
}

#Student-Experience {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
}


#Conclusion {
    height: 400px;
    width: 100%;
    padding: 100px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/hardware-pexels-athena.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

#footer {
    height: 30vh;
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: $blue;
    color: #fff;
    #social-media {
        ul {
            text-decoration: none;
            padding: 0;
            li {
                display: inline;
                i {
                    font-size: 40px;
                    color: $whiteblue;
                    transition: color 0.3s ease;
                }
                i:hover {
                    color: $redorange;
                }
            }
            li:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    p {
        margin-bottom: 0;
        margin-top: 1rem;
    }
}

/* RESPONSIVE */

@media (max-width:1080px) {
    #crccompdesc {
        display: block;
        width: 100%;
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 0.85rem;
        }
        a {
            font-size: 0.85rem;
        }
    }
    #crccompimg {
        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
    #aboutusdesc {
        display: block;
        width: 100%;
        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 0.85rem;
        }
        a {
            font-size: 0.85rem;
        }
    }
    #aboutusimg {
        img {
            max-width: 400px;
            max-height: 400px;
        }
    }
}

@media (max-width: 980px) {
    #aboutusimg {
        img {
            max-width: 350px;
            max-height: 350px;
        }
    }
    #crccompimg {
        img {
            max-width: 350px;
            max-height: 350px;
        }
    }
}
@media (max-width: 910px) {
    #aboutusimg {
        img {
            max-width: 320px;
            max-height: 320px;
        }
    }
    #crccompimg {
        img {
            max-width: 320px;
            max-height: 320px;
        }
    }
}

@media (max-width: 800px) {
    #crccompimg {
        img {
            max-width: 300px;
            max-height: 300px;
        }
    }
    #aboutusimg {
        img {
            max-width: 300px;
            max-height: 300px;
        }
    }
}

@media (max-width: 650px) {
    #crccompdesc {
        max-width: 100%;
        text-align:center;
        flex: 0 0 85%;
    }
    #crccompimg {
        display: block;
        max-width: 100%;
        top: 20px;
    }
    #aboutusdesc {
        max-width: 100%;
        text-align:center;
        flex: 0 0 85%;
    }
    #aboutusimg {
        display: block;
        max-width: 100%;
        top: 20px;
    }
}