/* COLORS */
* {
  margin: 0;
  scrollbar-width: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

nav {
  transition: background-color 0.25s ease;
}
nav .navbar-brand {
  color: #fff;
}
nav .hamburger-toggler {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
nav .hamburger-toggler-icon,
nav .hamburger-toggler-icon::before,
nav .hamburger-toggler-icon::after {
  position: absolute;
  width: 35px;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
}
nav .hamburger-toggler-icon {
  top: calc(50% - 7.5px);
  left: calc(50% - 22px);
  transition: all 0.3s linear;
}
nav .hamburger-toggler-icon::before,
nav .hamburger-toggler-icon::after {
  content: "";
  left: 0;
}
nav .hamburger-toggler-icon::before {
  bottom: 8px;
}
nav .hamburger-toggler-icon::after {
  top: 8px;
  transition: all 0.3s linear;
}
nav .toggled.hamburger-toggler .hamburger-toggler-icon {
  height: 2px;
  width: 40px;
  left: 5px;
  top: calc(50% - 7.5px);
  transform: rotate(-45deg);
  background-color: #fff;
}
nav .toggled.hamburger-toggler .hamburger-toggler-icon:after {
  width: 40px;
  height: 2px;
  top: -1px;
  transform: rotate(-270deg);
  background-color: #fff;
}
nav .toggled.hamburger-toggler .hamburger-toggler-icon::before {
  transform: scale(0);
}
nav .navbar-brand {
  position: relative;
  left: 30px;
}
nav .navbar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 20px;
}
nav #translate a {
  color: white;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0.25em;
  transition: 0.5s;
}
nav #translate a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #fff;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
nav #translate a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav .nav-item a {
  color: #fff;
  transition: 0.5s;
  position: relative;
}
nav .nav-item a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #fff;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
nav .nav-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav #navbar-collapse {
  background-color: #0C489A;
}

.scrolled {
  background-color: #fff;
}
.scrolled .hamburger-toggler-icon,
.scrolled .hamburger-toggler-icon::before,
.scrolled .hamburger-toggler-icon::after {
  background-color: black;
}
.scrolled .toggled.hamburger-toggler .hamburger-toggler-icon {
  background-color: black;
}
.scrolled .toggled.hamburger-toggler .hamburger-toggler-icon:after {
  background-color: black;
}
.scrolled .navbar-brand {
  color: black;
}
.scrolled #translate a {
  color: black;
}
.scrolled .nav-item {
  color: black;
}

.toggled {
  background-color: #0C489A;
}
.toggled .navbar-brand {
  color: white;
}
.toggled #translate a {
  color: white;
}
.toggled .nav-item {
  color: white;
}
.toggled .hamburger-toggler-icon,
.toggled .hamburger-toggler-icon::before,
.toggled .hamburger-toggler-icon::after {
  background-color: white;
}
.toggled .toggled.hamburger-toggler .hamburger-toggler-icon {
  background-color: white;
}
.toggled .toggled.hamburger-toggler .hamburger-toggler-icon:after {
  background-color: white;
}

#Landing-Page {
  height: 100vh;
  width: 100%;
  padding: 75px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hardware-pexels-athena.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}
#Landing-Page h1 {
  font-size: 96px;
}
#Landing-Page button {
  width: 200px;
  margin: 0 auto;
}

#CRC-Robotics-Competition {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#Game-Description {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#About-Us {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#Team-Roster {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#CRC-Season {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#Student-Experience {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
}

#Conclusion {
  height: 400px;
  width: 100%;
  padding: 100px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hardware-pexels-athena.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #F0F7E4;
}

#footer {
  height: 30vh;
  width: 100%;
  padding: 50px 50px;
}

/* RESPONSIVE */

/*# sourceMappingURL=style.css.map */
